Backend/.venv/

Backend/__pycache__/

Backend/app/utils/__pycache__/
Backend/app/api/__pycache__/
Backend/app/models/__pycache__/
Backend/app/schema/__pycache__/
Backend/app/__pycache__/

Backend/application_data

Backend/.vercel
Backend/iface_passv2.h5


FrontEnd/node_modules
FrontEnd/*.log
FrontEnd/.next
FrontEnd/renderer/.next

FrontEnd/app
FrontEnd/dist
.DS_Store